.pokedex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.types {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
}

.types li {
  color: #fff;
  font-weight: bold;
  border: 2px solid #000;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  list-style: none;
  margin: 0 10px;
  width: 25%;
  background: transparent;
  text-transform: uppercase;
}

.pokemons {
  margin-top: 30px;
}

.pokemon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  color: #fff;
  font-size: 20px;
}

button {
  background: #006671;
  color: #fff;
  padding: 0 15px;
  border: none;
  border-radius: 25px;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: .4s;
  outline: none;
  margin-left: 15px;
}

button:hover {
  background-color: #003b41;
}

img {
  height: 200px;
  width: 200px;
}

.box {
  width: 400px;
  height: 440px;
  background: red;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  overflow: auto;
  padding: 1rem;
}