.App {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
